{% load userfilters %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filters</h1>
        <h1>{{data}}</h1>
        <!----
        <h1>{{data | upper}}</h1>
        <h1>{{data | lower}}</h1>
        <h1>{{data | capfirst}}</h1>
        <h1>{{data | title}}</h1>
        <h1>{{data | length}}</h1>
    
        <h1>{{da |date:'F y'}}</h1>
        
        <h1>{{data | truncatewords:'2'}}</h1>
        <h1>{{data | truncatechars:'2'}}</h1>
        <h1>{{data | slice:'2'}}</h1>
        <h1>I HAVE {{c}} CAT{{c | pluralize:'S'}}</h1>

        <h1>{{data | swapcase}}</h1>
        -->
        <h1>{{data | remove:'h'}}</h1>




    </center>
</body>
</html>